header {
    background-color: coral;

}

section {
    margin-left: 300px;
}

.nav {
    display: flex;
}

ul {
    margin-top: 30px;
    margin-left: 1100px;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Nunito";
    font-weight: 800;
    font-size: medium;
}

.conteiner {
    display: flex;
}

footer {
    background-color: coral;
    height: 100px;
    padding-top: 40px;
    text-align: center;
    color: black;
    font-family: "Nunito";
    font-weight: 800;
    font-size: larger;
}

@media screen and (max-width: 1621px) {

    ul {
        margin-left: auto;
    }

    img {
        margin-left: 30;
    }

    .f6 {
        width: 600px;
    }

    .f12 {
        width: 600px;
    }

}


@media screen and (max-width: 800px) {

    .f6 {
        width: 500px;

    }

    .f12 {
        width: 500px;

    }

    section {
        margin-left: 100px;
        margin-right: auto;
    }
}

@media screen and (max-width: 540px) {
    header {
        margin: 0;
    }

    section {
        margin-left: 0px;
        padding: 0px;
    }

    .f11 {
        width: 450px;

    }

    .f10 {
        width: 450px;

    }

    .f4 {
        width: 450px;

    }

    .f5 {
        width: 450px;

    }

    .f6 {
        width: 450px;
    }

}

@media screen and (max-width: 400) {
    img {
        width: 100px;
    }
}